.span1 {
    width: 100px;
    height: 7px;
    background: black;
    position: absolute;
    transform: rotate(45deg);
    margin-top: 40px;
}
.span2 {
    width: 100px;
    height: 7px;
    background: black;
    position: absolute;
    transform: rotate(-45deg);
    margin-top: 40px;
}
.span3 {
    width: 80px;
    height: 80px;
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    margin-left: 5px;
}
.vitoriaHorizontal {
   position: absolute; 
   background: black;
   margin-top: 40px;
   width: 310px;
   height: 10px;
}
.vitoriaDiagonal {
    position: absolute;
    background: black;
    width: 320px;
    height: 10px;
    margin-top: 50px;
    transform: rotate(45deg);
}
.vitoriaDiagonal2 {
    position: absolute;
    background: black;
    width: 320px;
    height: 10px;
    margin-top: 40px;
    transform: rotate(-45deg);
}

.vitoriaVertical {
    position: absolute;
    background: black;
    width: 310px;
    height: 10px;
    margin-top: -60px;
    margin-left: -105px;
    transform: rotate(90deg);
}